<div class="search-result">
    <div class="text">
        <div class="title">
            <a class="label">{{title}}</a>


            {{#isExplicit}}
                <span class="item track-label -red">EXPLICIT</span>
            {{/isExplicit}}

            {{#isMusicVideo}}
                <span class="item track-label">MUSIC VIDEO</span>
            {{/isMusicVideo}}

            {{#isLive}}
                <span class="item track-label">LIVE</span>
            {{/isLive}}
        </div>

        <div class="artists">
            {{#artists}}

                <span class="sep">{{#if isPrependComma}}, {{/if}}</span>

                {{#if isMain}}
                    <a is="jukebox-link" href="{{artist.permalink}}" class="artist">{{artist.name}}</a>
                {{/if}}

                {{#if isFeatured}}
                    <span class="sep"> feat. </span>
                    <a is="jukebox-link" href="{{artist.permalink}}" class="artist">{{artist.name}}</a>
                {{/if}}

            {{/artists}}
        </div>
    </div>

    <div class="buttons">
        <track-link track-id="{{id}}" class="button">
            <insert-icon class="icon" icon-name="play"></insert-icon>
        </track-link>
        <track-link track-id="{{id}}" push-to-queue class="button">
            <insert-icon class="icon" icon-name="plus"></insert-icon>
        </track-link>
    </div>
</div>
