{{#if currentTrack}}
    <h3>Now Playing</h3>

    <player-queue-item track-id="{{currentTrack.id}}" current></player-queue-item>
{{/if}}

{{#if userQueue.length}}
    <h3>Queued Tracks</h3>

    {{#each userQueue}}
        <player-queue-item track-id="{{id}}" index="{{@index}}" type="user"></player-queue-item>
    {{/each}}
{{/if}}

{{#if playQueue.length}}
    <h3>Up Next</h3>

    {{#each playQueue}}
        <player-queue-item track-id="{{id}}" index="{{@index}}" type="play"></player-queue-item>
    {{/each}}
{{/if}}
