<section class="page-content">
    <div class="container">
        <div class="search-container">
            <h2>Search for "{{query}}"</h2>
            {{#if results.length}}
                {{#each results}}

                    {{#if isArtist}}
                        <div class="search-result">
                            <div class="text">
                                <div class="title">
                                    <a is="jukebox-link" href="{{permalink}}" class="label">{{name}}</a>
                                </div>
                            </div>
                        </div>
                    {{/if}}

                    {{#if isTrack}}
                        <list-track track-id="{{id}}"></list-track>
                    {{/if}}
                {{/each}}

                {{#if isCompletelyLoaded}}
                {{else}}
                    <search-paginator result-id="{{id}}">
                        <div class="loading-animation"></div>
                    </search-paginator>
                {{/if}}

            {{else}}
                <p>
                    <b>Sorry.</b> We couldn't find anything matching "{{query}}".
                </p>
                <p>
                    Maybe you were looking for <a is="jukebox-link" href="/search?q=Adele">Adele</a>?
                </p>
            {{/if}}
        </div>
    </div>
</section>
