<section class="page-content -fit">
    <div class="container">
        <h2>Search for "{{query}}"</h2>

        {{#each results}}

            {{#if isArtist}}
                <div class="search-track">

                   <div class="button">
                       <div class="round-button"></div>
                   </div>

                    <div class="text">
                        <a is="jukebox-link" href="{{permalink}}" class="title">{{name}}</a>
                    </div>
                </div>
            {{/if}}

            {{#if isTrack}}
                <div class="search-track">

                    <track-link track-id="{{id}}" class="button">
                        <button class="round-button -clickable">
                            <img src="/images/icons/play.svg" />
                        </button>
                    </track-link>

                    <div class="text">
                        <a is="jukebox-link" href="{{permalink}}" class="title">{{title}}</a>
                        <a is="jukebox-link" href="{{artist.permalink}}" class="artist">{{artist.name}}</a>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</section>
