<div class="search-result">
    <div class="text">
        <div class="title">
            <span class="label">{{track.title}}</span>

            {{#track.isExplicit}}
                <span class="item track-label -red">EXPLICIT</span>
            {{/track.isExplicit}}

            {{#track.isMusicVideo}}
                <span class="item track-label">MUSIC VIDEO</span>
            {{/track.isMusicVideo}}

            {{#track.isLive}}
                <span class="item track-label">LIVE</span>
            {{/track.isLive}}
        </div>

        <div class="artists">
            {{#track.artists}}

                <span class="sep">{{#if isPrependComma}}, {{/if}}</span>

                {{#if isMain}}
                    <a is="jukebox-link" href="{{artist.permalink}}" class="artist">{{artist.name}}</a>
                {{/if}}

                {{#if isFeatured}}
                    <span class="sep"> feat. </span>
                    <a is="jukebox-link" href="{{artist.permalink}}" class="artist">{{artist.name}}</a>
                {{/if}}

            {{/track.artists}}
        </div>
    </div>

    <div class="buttons">
        <play-track-link track-id="{{track.id}}" result-id="{{resultId}}" result-type="{{resultType}}" class="button">
            <insert-icon class="icon" icon-name="play"></insert-icon>
        </play-track-link>
        <queue-track-link track-id="{{track.id}}" class="button">
            <insert-icon class="icon" icon-name="plus"></insert-icon>
        </queue-track-link>
    </div>
</div>
